# Craft settings
CRAFT_ENVIRONMENT=dev
CRAFT_SECURITY_KEY=
CRAFT_APP_ID=

# Database
CRAFT_DB_DRIVER=mysql
CRAFT_DB_SERVER=db
CRAFT_DB_PORT=3306
CRAFT_DB_DATABASE=db
CRAFT_DB_USER=db
CRAFT_DB_PASSWORD=db
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=

# Localization
CRAFT_SITE_NAME=Craft
CRAFT_SITE_URL=https://craft.ddev.site
CRAFT_SITE_URL_NL=https://craft.ddev.site/nl
CRAFT_SITE_URL_DE=https://craft.ddev.site/de

# Email
CRAFT_EMAIL=
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_AUTHENTICATION=false
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENCRYPTION=none