<!DOCTYPE html>
<html lang="{{ craft.app.language|slice(0, 2) }}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
        <link href="/dist/style.css" rel="stylesheet"/>
    </head>
    <body class="bg-gray-100">
        <div class="max-w-[2560px] mx-auto px-2 bg-white">
            {% block header %}
                <header class="container flex justify-between items-center py-4">
                    <a href="{{ currentSite.baseUrl }}">LOGO</a>

                    {% include '_components/menu' with {
                        menu: menu.mainMenu,
                        ulClass: 'flex',
                        aClass: 'block p-4 font-bold hover:bg-gray-100'
                    } %}
                </header>
            {% endblock %}

            <main>
                {% block main %}
                {% endblock %}
            </main>

            <footer>
                {% block footer %}
                {% endblock %}
            </footer>
        </div>

        <script src="/dist/app.js"></script>
    </body>
</html>
