<!DOCTYPE html>
<html lang="{{ craft.app.language|slice(0, 2) }}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1" />

        <link href="/dist/style.css" rel="stylesheet" />
    </head>
    <body>
    <header>
        {% block header %}
        {% endblock %}
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

        <script src="/dist/app.js"></script>
    </body>
</html>
